#main-text {
    color: var(--tg-theme-text-color);
}

#activated {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    width: fit-content;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
}

#not-activated {
    background-color: var(--tg-theme-destructive-text-color);
    color: var(--tg-theme-button-text-color);
    width: fit-content;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
}

.qr-code-screen {
    margin: 5%;
    text-align: center;
}

.qr-code-block {
    border-radius: 11%;
    background-color: var(--tg-theme-bg-color);
    display: flex;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-bottom: 3vh;
    width: 70vw;
    max-width: 350px;
    padding: 10px;
    aspect-ratio: 1 / 1;
}

.img-activated {
    margin: auto;
}


div.qr-code-block>img {
    display: block;
}

#qr-code {
    border-radius: 10%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}