  /* Общий контейнер */
  .create-form-screen {
      padding: 16px;
      background-color: var(--tg-theme-secondary-bg-color);
      color: var(--tg-theme-text-color);
      /* min-height: 100vh; */
  }

  /* Заголовок страницы */
  .create-form-screen h1 {
      font-size: 22px;
      margin-bottom: 16px;
      color: var(--tg-theme-text-color);
  }

  /* Заголовки секций */
  .create-form-screen h4 {
      font-size: 15px;
      margin-bottom: 6px;
      color: var(--tg-theme-hint-color);
  }

  /* Блок с основной информацией */
  .form-block {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
      background-color: var(--tg-theme-bg-color);
      border-radius: 12px;
      margin-bottom: 20px;
  }

  /* Поля ввода формы */
  .form-input {
      font-size: 14px;
      background-color: var(--tg-theme-secondary-bg-color);
      border-radius: 15px;
      outline: none;
  }

  .form-input:focus {
      border-color: var(--tg-theme-button-color);
  }

  /* Блок с полями */
  .fields {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 20px;
  }

  /* Один блок поля */
  .field-block {
      display: flex;
      flex-direction: column;
      padding: 12px;
      background-color: var(--tg-theme-bg-color);
      /* background-color: aqua; */
      border-radius: 12px;
  }

  /* Поле названия */
  .name-field {
      font-size: 14px;
      color: var(--tg-theme-text-color);
      border-radius: 15px;
      outline: none;
      transition: border-color 0.2s;
  }

  /* Селект */
  .select-type {
        padding: 10px 12px;
        font-size: 14px;
        height: 3rem;
        color: var(--tg-theme-text-color);
        background-color: var(--tg-theme-secondary-bg-color);
        border: none;
        border-radius: 8px;
        outline: none;
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
        padding-right: 36px;
    }

  /* Кнопка добавить */
  .add-field {
      padding: 12px;
      width: 100%;
      background-color: var(--tg-theme-button-color);
      color: var(--tg-theme-button-text-color);
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s;
  }

  .add-field:hover {
      opacity: 0.95;
  }

  .add-field:active {
      opacity: 0.85;
  }

  .toggle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}