.successful-screen {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.successful-block {
    border-radius: 15px;
    margin: 10%;
    padding: 5%;
    background-color: var(--tg-theme-bg-color);
}